<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"  />
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>



<!--Haven't Found real alternative for the images shown on the websites pages but will figure it out this is just a small portion of what i actually envision-->



<!--This is the top page of the Entire Website (Includes Navigation bar)-->
<div class="image-box">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}">News</a></li>
        <li><a href="{% url 'home' %}">Contact</a></li>
        {% if user.is_authenticated %}
            <li id="logout" style="float:right; cursor: pointer;"><a class="active" >Log-Out</a></li>
        {%else%}
        <li style="float:right"><a class="active" href="{% url 'index' %}">Log-In</a></li>
        {% endif %}
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>






<!--The starting div where it will set off the entire first page-->

<div class="container2" style="width: 97%; display: inline-block; background-color: transparent;">
-
    <div class="container2" style= "box-shadow: 0 0 10px rgb(0, 0, 0);">
        <h1 id="loggedin">Developer Version 0.6 (changed login system)</h1>
    </div>

</div>

<div class="container2" style="width: 97%; display: inline-block; background-color: transparent;">

    <div class="container2" style= "box-shadow: 0 0 10px rgb(0, 0, 0);">
        <h1>What Is My Board?</h1>
    </div>

</div>



<!--logout-button-pop-up-->
<div class="" id="overlay" style="">

    <div class="popup container  " id="popup" style=" flex-direction: row; justify-content: space-between; background-color: transparent; align-items: end;   box-shadow: 0 0 0px rgb(0, 0, 0);  padding: 40px; border: 0px; ">
        <div class="popup container " id="popup" style="">
            <h1 style="color:rgb(26, 26, 26); text-shadow: 15px 8px 23px">Are You Sure?</h1>
        </div>
        <h1 class = "exits" style="cursor: pointer;  text-shadow: 15px 8px 23px">Yes</h1>
        <h1 class = "exits" id="exit" style="cursor: pointer; text-shadow: 15px 8px 23px">No</h1>
    </div>
</div>





<!--This is just the side numbered divs that contain useful information about MyBoard-->
<div class="container3">

  <div class="col-lg-4">
        <div class="numbs">
            
            <div class="container" style="padding: 10px; background-color: #fff; width: 50%;">
                <h1>1.</h1>
            </div>
            
        </div>

        <div class="container" style="padding: 10px; background-color: #fff; width: 99%;">
            <h1>Safe-Keep Links, Videos, Pictures, Copy-Pastas YOU name it!</h1>
        </div>
       

        <div class="numbs">
            
            <div class="container" style="padding: 10px; background-color: #fff; width: 50%;">
                <h1>2.</h1>
            </div>
            
        </div>
        <div class="container" style="padding: 10px; background-color: #fff; width: 99%;">
            <h1>Share YOUR memories with others through MyBoard!</h1>
        </div>
  </div>

  
    <div class="col-lg-4">
            <div class="numbs">
                <div class="container" style="padding: 10px; background-color: #fff; width: 50%;">
                    <h1>3.</h1>
                </div>
            </div>
       
            <div class="container" style="padding: 10px; background-color: #fff; width: 99%;">
                <h1> You are able to transfer links, videos, images to another platform without having to use external apps.</h1>
            </div>
          
            <div class="numbs">
                <div class="container" style="padding: 10px; background-color: #fff; width: 50%;">
                    <h1>4.</h1>
                </div>
            </div>

            <div class="container" style="padding: 10px; background-color: #fff; width: 99%;">
                <h1>Share YOUR link to yourself or other people to grab your videos, links, images etc.</h1>
            </div>
    
 
    </div>


</div>




<!--giant right div that entices the user to use MyBoard-->
<div class="container4" style="width: 30%;">
    <h2>Why Choose MyBoard?</h2>
    <p>Imagine a world where all your favorite links, videos, and images are just a click away, securely stored and easily shareable. With MyBoard, this dream becomes a reality. Our platform not only keeps your digital treasures safe but also allows you to share them effortlessly with friends and family. No more juggling between different apps or worrying about losing your precious memories. Join MyBoard today and experience the ultimate convenience and peace of mind. Your digital life, organized and simplified.</p>
</div>


<!--Similar to the first div this sets off the path to our button to go to the next page-->
<div class="container2" style="width: 97%; display: inline-block; background-color: transparent; margin-top: 20px;  box-shadow:rgb(255, 255, 255)">
    <div class="container2" style="box-shadow: 0 0 10px rgb(0, 0, 0);">
        <h1>What are you waiting for? Lets share memories</h1>
    </div>
</div>



<!--This basically sets it all off and now you can get started and go to the next page-->
<div class="container2" style="width: 97%; display: inline-block; background-color: transparent; margin-top: 20px;  box-shadow:rgb(255, 255, 255)">
    <button type="button" class="button" onclick="window.location.href='{% url 'index' %}'" style="width:200px; height: 70px; font-size: 18px;">Get Started</button>
</div>




<script type="text/javascript">

    
    var user = '{{request.user}}'

    if (user != 'AnonymousUser'){
        logged1 = document.getElementById("loggedin")

        logged1.textContent = "Welcome, " + {{'user'}}
    }


</script>


<script type="text/javascript">

    var button = document.getElementById("logout")
    var logoutref = "{% url 'logout' %}"


    if (button != null){
        button.addEventListener("click", function() {

            console.log("CLICKED")
            LogoutButton();
            
           
        });
    }
   
   
   

</script>


<script  src="{% static 'JS/Close.js' %}"> </script>