# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
media/
staticfiles/
.env
ZFrontEnd/
 
# Virtualenv
venv/
myenv/

# IDE
.vscode/
.vs/
*.code-workspace

#EXTRA
MyBoard/stripe_hook.exe

# OS
.DS_Store
Thumbs.db
