{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"  />
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>




<div class="box-element center" style="width: 95%; height: 92%;  outline: none; cursor: default;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;">
    
    <div class="container" id="MainView" style="width: 100%; height: 100%; max-width: 1000px; padding: 10px; justify-content: flex-start; overflow-y: auto;  flex-direction: column; align-items: flex-start; gap: 20px; ">
           
       <div class="container userProf" id="userMainLoader">


        </div>

       
    </div>

  
  
</div>

<div class="" style=" bottom: 0; left: 0; position: absolute; width: 100%; ">
    
   <!--finish image holder!-->
    <div style="max-width: 1000px; margin: 0 auto; width: 100%; display: flex; align-items: center; gap: 10px; padding: 5px; border: 1px solid red; height: 100%; -webkit-user-select: none; ">
        {% csrf_token %}
        
        <div class="container hidden" id="imageHolder"style="position: absolute; margin-bottom: 190px; height: 100px; margin-left: 100px; width: 100%; justify-content: flex-start; overflow-x: auto;  flex-direction: row; align-items: flex-start; gap: 20px;   display: flex; overflow-y: hidden;"> 

        </div>
       
        <label style=" font-family: Raleway;  sans-serif; text-shadow: 42px 8px 23px rgb(0, 0, 0); font-size: 30px; color: #080808; position: relative; padding: 0; margin: 0;"> Enter: </label>
        <input type="text" id="Enter1" class="form-control" placeholder="Try typing here......" style="padding: 10px; width: 70%; padding: 10px; margin-left: 10px; z-index: 1;">
        <button type="button" class="" id="uploadb" style="margin-top: 0px;"> + </button>
        <input hidden="hidden" type="file" id="imginp" name="image" accept="image/jpg, image/png, video/mp4, video/webm, video/ogg">
        <span id="filetext">No file chosen</span>
    </div>
 
   
</div>


{{ storedTexts|json_script:"texts-data" }}
{{ storedFiles|json_script:"files-data" }}
{% comment %} <div class="container textview" style="margin-left: 25px; margin-top: 10px">


</div>  {% endcomment %}


<script type="text/javascript"> 

 
    document.addEventListener("DOMContentLoaded", function () {


        var main = document.getElementById("MainView");
        let mainProfile = document.getElementById("userMainLoader");
      
        //upload videos/pics variables
        uploadBut = document.getElementById("uploadb");
        fileInp = document.getElementById("imginp");
        fileText = document.getElementById("filetext");
        uploadHold = document.getElementById("imageHolder");

        // Create observer so we can see animations.
        //////////////////////////////***********************************
        const observer = new MutationObserver(function(mutations) {
            let holderCheck = Array.from(uploadHold.children);
            
            if (holderCheck.length > 0) {
                appearanceHolder();
            } else {
                hiddenHolder();
            }
        });

        // Start observing
        observer.observe(uploadHold, {
            childList: true  // watch if child is added to our observer
        });
        //****************************************************************

        if(!mainProfile){
            mainProfile = document.createElement("div");
            mainProfile.classList.add("container");
            mainProfile.classList.add("userProf");
            main.appendChild(mainProfile);
            console.warn("Started, had to create mainP, PT: Did not Load/Did not exist");
        }else{
            console.warn("Started, everything is in check. Please report any potential errors!");
        }
        
        console.log("Welcome to main:"); // Should work now
        textEnter1 = document.getElementById("Enter1");
    
        if (!main || !textEnter1) {
            console.error("Main error, please reload or try again later");
            return;
        }
        

        //for image spacing and text spacing
        var existingImages = document.querySelectorAll('nonexistent-element');
        var heightPos = 0;

        // **************** MAIN EVENT FOR IMAGE/TEXT PLACEMENT*******************
        textEnter1.addEventListener("keypress", async (event) => {
            if (event.key === "Enter") {
                //create and remove
                Create(event,file,files, main, currRemoveButs);          
            }

        });


        //temporary till i find a better way to add button handling
        uploadBut.addEventListener("click",  function() {
            fileInp.click();
        });

        //listen and wait to remove buttons and wait for file to be populated
        let currRemoveButs = [];
        let file = false;
        let files = [];
        let containedImg = false;
        let containedVideo = false;

        fileInp.addEventListener("change", function(){
            if (fileInp.value){
                fileText.innerHTML = fileInp.value;


                file = fileInp.files[0];
                console.log(file.type);

                if(file.type.startsWith("image")){
                    const imageURL = URL.createObjectURL(file);
                    files.push(fileInp.files[0]);

                    containedImg = document.createElement("img");
                    containedImg.src = imageURL;
                    containedImg.width = 100; // Set width
                    containedImg.height = 100; // Set height
                    containedImg.style.objectFit = "cover"; // Set CSS style
                    containedImg.style.borderRadius = "8px";
                    containedImg.style.Padding = "20px";
                    //add class
                    containedImg.classList.add("waitingImages")
                   


                   
                }else if (file.type.startsWith("video")){
                    const videoURL = URL.createObjectURL(file);
                    files.push(fileInp.files[0]);

                    containedVideo = document.createElement("video");
                    containedVideo.src = videoURL;
                    containedVideo.width = 100;
                    containedVideo.height = 100;
                    containedVideo.style.objectFit = "cover";
                    containedVideo.style.borderRadius = "8px";
                    containedVideo.style.Padding = "20px";

                    containedVideo.classList.add("waitingImages");


                }


                console.warn(file.type);
            
            

               // Create container for image and remove button
               const imageWrapper = document.createElement("div");
               imageWrapper.style.position = "relative";
               imageWrapper.style.display = "inline-block";

               //remove button
               const removeBut = document.createElement("button");
               removeBut.classList.add("remove-btn");
               removeBut.innerText = "X";

               imageWrapper.append(removeBut);

               if(containedImg){
                    imageWrapper.append(containedImg);
                    containedImg = false;
               }else{
                    imageWrapper.append(containedVideo);
                    containedVideo = false;
               }
               
               uploadHold.append(imageWrapper);
               console.log("This many files held:  " + uploadHold.children); //log children of console to see how many images are held
               event.target.value = '';

                //make it so if remove button clicked remove current images
                waitingImages = document.querySelectorAll(".waitingImages");
                currRemoveButs.push(removeBut);
                removeBut.addEventListener("click", function(){
                    removeBut.parentElement.remove();
                       
                });


            }
            
        });
       
        
    });
    

    

   //load data here

    //Display Function
    async function displayInOrder(items){
        let main = document.getElementById("MainView");

        for(const item of items){

            if(item.type == "text"){
                let profElement = createText(item.content, main);
                main.appendChild(profElement);
            }
            else if(item.type == "file"){
                let newprofElement = document.createElement("div");
                newprofElement.classList.add("container");
                newprofElement.classList.add("userProf");

                if (item.key == "video"){
                    //FINISH VIDEO STORAGE
                    console.warn("Hello! The system is currently under maintenance, your videos will not appear yet unfortunetly, feel free to upload them in the mean time!")

                }else if(item.key == "image"){

                    await new Promise(resolve =>  {
                  
                        const uploadedImg = new Image(); //our new image
    
                        let fileShow = document.createElement("div")
                        fileShow.className = "container image-container";
                        fileShow.id = "img1" + Date.now();
    
                        uploadedImg.onload = function() {
                            fileShow.style.width = this.naturalWidth + "px";
                            fileShow.style.height = this.naturalHeight + "px";
                            fileShow.style.backgroundImage = `url(${item.content})`;
                            fileShow.style.backgroundSize = "contain";
                            fileShow.style.backgroundRepeat = "no-repeat";
                            fileShow.style.backgroundPosition = "center";
                            fileShow.style.backgroundColor = "transparent"; 
                            fileShow.style.boxShadow = "none";
                            
                            newprofElement.appendChild(fileShow); //append our image with above styles
                            
    
                            
                            let lastDiv = main.lastElementChild?.firstElementChild; // Check if theres a DIV
                            if (lastDiv) {
                                
                                const lastRect = lastDiv.getBoundingClientRect();
                                console.log(lastDiv.getBoundingClientRect())
                                let heightPos = lastRect.height;
                               
                                if (heightPos){
                                    newprofElement.style.marginTop = (heightPos) + "px"; // Add some spacing
                                    console.log("Here is the new margin: " + newprofElement.style.marginTop);
                                    newprofElement.style.display = "block";   // Ensure block display
                                }
                                console.log("SPACED") 
                            }
                            main.appendChild(newprofElement);
                            resolve();
                    
                        };
                        uploadedImg.src = item.content;
                    })
                    //end of else image


                }

               

            }


        }


    }

   // all loads here
   window.addEventListener('load', function() {
        //*************WARN**************************************************
        console.warn("Warning buggy data store, some things might not work as intended wait for release");
        //****
        // Get the element by ID first
        const textsDataElement = document.getElementById('texts-data');
        const fileDataElement = document.getElementById('files-data');
        const main = document.getElementById("MainView");
        let dataStore = []; // we will use this to grab our data from database

        if (textsDataElement) {
            console.log("TEXT data:", textsDataElement.textContent);
           
            const textsData = JSON.parse(textsDataElement.textContent); 
            console.log("Parsed text Data:", textsData);  
           
            textsData.forEach(text => {

                dataStore.push({
                    type: 'text',
                    content: text,
                    timestamp: text.timestamp
                });
                
            });
        }

        if(fileDataElement){
            console.log("File Data:", fileDataElement.textContent);
            const fileData = JSON.parse(fileDataElement.textContent);
           
            fileData.forEach(file => {
                dataStore.push({
                    type: 'file',
                    key: file.key,
                    content: file.content,
                    timestamp: file.timestamp
                });

            });

        } 

        dataStore.sort((a,b) =>{
            const time1 = new Date(a.timestamp);
            const time2 = new Date(b.timestamp);
            return time1 - time2;
        });
        
        console.log(dataStore);
        displayInOrder(dataStore);
        //Datastore ends here
      
    });



    //Animation handling
    function appearanceHolder(){
        if(uploadHold.classList.contains("visible")){
            return;
        }
        else{
            uploadHold.classList.add("visible");
            uploadHold.classList.remove("hidden");
            uploadHold.style.zIndex = "2";
        } 
    }

    function hiddenHolder(){
        if(uploadHold.classList.contains("hidden")){
            return;
        }
        else{
            uploadHold.classList.remove("visible");
            uploadHold.classList.add("hidden");
            uploadHold.style.zIndex = "0";
            //clear out our upload paths
            fileText.innerHTML = "No file chosen";
      
            
        } 
    }

    //////////////////////////////***********************************


</script>

{% comment %} extras {% endcomment %}
<script  src="{% static 'JS/CreateText.js' %}"> </script>
<script  src="{% static 'JS/MainC.js' %}"> </script>