<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"  />
    <title>gg</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>




<body>


    

  {% if is_expired %}
    <div id="overlay" class="active">
        <!-- Modal -->
        <div id="popup" class="container4 " style="margin-left: 5px;" role="dialog" aria-modal="true" aria-labelledby="popup-title">
            
                <div class="header">
                    <h1 id="popup-title">Your guest session has expired</h1>
                </div>

                <p>Your temporary account will be removed.</p>

                <div class="choice-buttons" style="">
                    <button id="keep-data" class="lpbtn lpbtn-ghost exits" style="cursor: pointer;" onclick="window.location.href='{% url 'signup' %}'">Create an account</button>
                    <button id="remove-all" class="lpbtn lpbtn-primary exits" style="cursor: pointer;" onclick="window.location.href='{% url 'logout' %}'">Delete Data</button>
                
                </div>
            </div>

        </div>
    </div>
  {% endif %}



  <div class="" style="display: flex;">

    

    <ul class="navigationMain" id="navigationMain" style="">
        <nav class="navigation">   
                <li> <a href="{% url 'home' %}">Home</a> </li>
                <li> <a href="#FAQ">FAQ</a> </li>
                <li> <a href="#Monetize">Pricing</a> </li>
                <li> <a href="{% url 'choice' %}">Get Started</a> </li>
              
        </nav>

    
    
    </ul>
    
    <script>
        let lastScrollY = window.scrollY;
        const navbar = document.getElementById("navigationMain")
        const navbar2 = document.getElementsByClassName("app-banner")

        window.addEventListener("scroll", () => {
        if (window.scrollY > lastScrollY && window.scrollY > 1) {
            navbar.classList.add("hidden");
            navbar2[0].classList.add("hidden"); 
        } else {
            navbar.classList.remove("hidden");
            navbar2[0].classList.remove("hidden"); 
        }
        lastScrollY = window.scrollY;
        });

    </script>

  </div>

  <div  class="userProf pill" style="position: fixed; right: 0; margin-right: 25px; margin-top: 25px;   object-position: center; padding: 0; z-index: 100;">
      <img id="home_profile" class=""src="{% static 'images/test1.jpg' %}" alt=""
      style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover; cursor: pointer; z-index: 100;">

          
        <ul id="home_menu" class="navigationMain hidden" style="right: 0; flex-direction: column; display; flex;   align-items: flex-start; ">
          <nav class="navigation" style="">   
                  
              
                  {% if user.is_authenticated %}
                      <li style=" float: none;"> <a href="{% url 'account' %}">Manage Account</a> </li>
                      <li style=" float: none;"> <a href="{% url 'choice' %}">Settings</a> </li>
                      <li id="logout" style="float: none; cursor: pointer;"><a href="{% url 'logout' %}">Log-Out</a></li>
                  {%else%}
      
                      <li style="float: none;"><a href="{% url 'login' %}">Log-In</a></li>
                  {% endif %}  
                  
          </nav>
        </ul>


        <script>

            let home = document.getElementById("home_profile");
            let menu = document.getElementById("home_menu");
            home.addEventListener("mouseenter", () => {
                menu.classList.remove("hidden");

                menu.addEventListener("mouseleave", () => {
                    menu.classList.add("hidden");
                });
            });

            const isAuth = {{ user.is_authenticated|lower }};
            
            if(!isAuth){
                home.src = false
            }else{
                home.src = "{% static 'images/test1.jpg' %}"
            }

        </script>
  </div>



    {% if not user.is_authenticated %}



        <!--This is basically the entry form div where users can input information login centered box-->
        <div class="box-element center">
            
            <div class="container" style=" justify-content: center; margin-top: 250px; align-center; width: 100%; height: 100%; gap:20px; ">

            
                <h1>Log-In</h1>
            

                <br>
                

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                
                    <div class="form-container" style="">
                        <div class="form-group">
                            <label for="username">Username: </label>
                            <input type="text" id="username" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password: </label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Remember me</label>
                        </div>
                    
                        <button type="submit" id="submit-id" class="lpbtn lpbtn-primary"style="margin: 0 auto; display: block; margin-top: 45px;" onclick="hideButton()"> Log-In</button>

                      
                      
                
                      
                    </div>
                    
            
                
                    
                
                </form>

                
                {% if success %}
                    <div id="success-message" style="background-color: #d4edda; color: #155724; padding: 10px; border: 1px solid #c3e6cb; margin-bottom: 15px;">
                        Your submission was successful!
                    </div>
                {% endif %}

                {% if error %}

                
                    <div id="error-message" style="">
                        {{error}}
                    </div>
        
                {% endif %}
                
            </div>

        </div>
    <p style="margin-top: 200px;">new users...</p>

    <button type="submit" id="submit-id" class="lpbtn lpbtn-primary"style="margin: 0 auto; display: block; margin-top: 45px;" onclick="window.location.href='{% url 'signup' %}'"> Sign Up</button>

    {% else %}

        <div class="" style=" display: flex; justify-content: center; align-items: center; height: 10vh">

            <div class="container" style="width:200px; height: 40px; justify-content: center;">
                <h2 style="color: #07ce07;">You are already logged in!</h2>
            </div>
        </div>

    {% endif %}






</body>


<!--logout-button-pop-up-->
<div class="" id="overlay" style="">

    <div class="popup container  " id="popup" style=" flex-direction: row; justify-content: space-between; background-color: transparent; align-items: end;   box-shadow: 0 0 0px rgb(0, 0, 0);  padding: 40px; border: 0px; ">
        <div class="popup container " id="popup" style="">
            <h1 style="color:rgb(26, 26, 26); text-shadow: 15px 8px 23px">Are You Sure?</h1>
        </div>
        <h1 class = "exits" style="cursor: pointer;  text-shadow: 15px 8px 23px">Yes</h1>
        <h1 class = "exits" id="exit" style="cursor: pointer; text-shadow: 15px 8px 23px">No</h1>
    </div>
</div>




<script  src="{% static 'JS/Close.js' %}"> </script>